%h1.effective-admin-heading= @page_title

- @posts.find_each do |post|
  .row
    .col-sm-12
      %h2.post-title= link_to post, effective_post_path(post)
  .row
    .col-sm-6
      %pre= effective_region(post, :body, editable: false)

    .col-sm-6
      %pre= post_excerpt(post)

  .row
    .col-sm-12
      %hr
