%h1.mb-4= @page_title

= render 'layout' do
  .row.row-cols-1.row-cols-lg-3.effective-posts
    = render @posts

  %nav.d-flex.justify-content-center
    = bootstrap_paginate(@posts, per_page: EffectivePosts.per_page)
