.effective-post
  %h2.post-title
    %a{href: effective_post_path(@post)}
      = simple_effective_region @post, :title do
        = @post.title

  %p.post-meta= post_meta(@post)

  .post-body.post-content
    = effective_region @post, :body do
      %p Default content

