= render 'layout' do
  = render('effective/posts/post', post: @post) do
    .post-body.post-content
      = effective_region @post, :body do
        %p Default content

  .border-top.mb-3
  = link_to 'Continue', effective_posts.posts_path, class: 'btn btn-primary'
