= render 'layout' do
  .effective-post
    = render 'effective/posts/header', post: @post
    = render 'effective/posts/event', post: @post

    .post-body.post-content
      = effective_region @post, :body do
        %p Default content
